<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.naveenautomation.Utils.CustomListener"></listener>
		<listener class-name="com.naveenautomation.Utils.TransformerForRetry"></listener>
		<listener class-name="com.naveenautomation.Utils.ExtentReportListener"></listener>

	</listeners>
	
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.naveenautomation.PageTests.AccountPageTest" />
			<class name="com.naveenautomation.PageTests.AccountLogOutPageTest" />
			<class name="com.naveenautomation.PageTests.LoginPageTest" />
			<class name="com.naveenautomation.PageTests.HomePageTest" />
			<class name="com.naveenautomation.PageTests.SuccessPageTest" />
			<class name="com.naveenautomation.PageTests.ComparePageTest" />
			<class name="com.naveenautomation.PageTests.AddressPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
